{{- $sidebar := false }}
{{- if eq .Kind "home" -}}
	{{ $sidebar = (default .Site.Params.sidebar.home .Params.sidebar) }}
{{- else if eq .Kind "page" -}}
	{{ $sidebar = (default .Site.Params.sidebar.single .Params.sidebar) }}
{{- else -}}
	{{ $sidebar = (default .Site.Params.sidebar.list .Params.sidebar) }}
{{ end }}

{{- if $sidebar -}}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">

<div class="widget-recent widget">
	<h4 class="widget__title">ABOUT ME</h4>
	<div class="widget__content">
		<div class="authorbox clearfix">
			{{- with .Site.Author.avatar }}
			<figure class="authorbox__avatar">
				<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">
			</figure>
			{{- end }}
			{{- with .Site.Author.name }}
			<div class="authorbox__header">
				<span class="authorbox__name">aki19</span>
			</div>
			{{- end }}
			{{- with .Site.Author.bio }}
			<div class="authorbox__description">
				{{ . | markdownify }}
			</div>
			{{- end }}
		</div>
	</div>
</div>

{{- $root := . }}
{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
		{{- $p := printf "widgets/%s.html" $widget }}
		{{- partial $p $root }}
	{{- end }}
{{- else }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
{{- end }}
</aside>
{{- end }}
